
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

.button-teal {
    @apply .bg-teal-light .text-lg;
    color: #FFFFFF;
    box-shadow: 1px 1px 2px 1px #4dc0b5;
}

.button-teal:hover {
    @apply .bg-teal;
    color: #FFFFFF;
}

.form-footer {
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #ebebeb !important;
}

.card-shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.04), 0 6px 4px 0 rgba(0,0,0,0.08)
}

.button-delete {
    color: #B8C2CC;
    background: #FFFFFF;
    border: 1px solid #DAE1E7;
    border-radius: .25rem;
}
.button-delete:hover { @apply .bg-grey-lightest; color: #606F7B; }

.button-edit {
    @apply .bg-teal-light;
    color: #FFFFFF;
    border: 1px solid #4DC0B5;
    border-radius: .25rem;
}
.button-edit:hover { @apply .bg-teal-dark; color: #FFFFFF; }