.feather { width: 24px; height: 24px; vertical-align: text-bottom; }
.w-sidebar {width: 17%}
.w-7 {width: 7%}
.w-10 {width: 10%}
.w-8 {width: 8%}
.custom-pl-14 {padding-left: 14px !important}
.bg-sidebar { background-image: linear-gradient(#A779E9, #382B5F); }
.custom-shadow {box-shadow: 0 4px 2px #eee;}
.bg-red-300 { background: #ef5350 }
.font-gabriela {font-family: 'Gabriela', serif;}

.nav-item a { color: inherit; text-decoration: none !important }
.active { font-weight: bold; }

::placeholder {
    color: #bbb !important;
    opacity: 1; /* Firefox */
}

.invalid-feedback { display: inline; }

/*.toast-success {background-color: #33998f; }*/
.toast-success {background-color: #00AB8E; }
