/* ------------------- Custom file button -----------------------------*/
input#image {
  position: absolute;
  left: 25px;
}

span.file-btn {
  padding: 4px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  overflow: hidden;
  background-color: #D7F3E3;
  background-image: linear-gradient(#fff, #D7F3E3);
  position: absolute;
  cursor: pointer;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

span.file-btn:hover {
  background: #eee !important;
}
